<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WeSound</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/list/users">All users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">{{user.user_name}}</a></li>
        <a href="/logout"><button type="button" class="btn btn-default navbar-btn">Log out</button></a>   
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<body>
  <div class="container col-sm-12" id="mainform">
    <div style=" margin-top:100px" class="jumbotron jumbotron-fluid mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div>
        <h1>{{playlist.name}}</h1>
        <h3>{{playlist.description}}</h3>
      </div>
      {{#if indexPage}}
        <div class="topcorner row">
          <div class="col-lg-6 col-md-6" style="margin-bottom: 10px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
              Add song
            </button>
          </div>
          <div class="col-lg-6 col-md-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updatePlaylistModal">
              Edit playlist
            </button>
          </div>
        </div>
      {{/if}}
      <div class="row" style="justify-content: center; text-align: center;">
        {{#each songs as |item i|}}
        <div class="col-sm-6" style="margin-bottom: 10px;">
          <div class="card" style="padding: 10px;">
            <div class="card-header">
              {{#if ../indexPage}}
                <div class="topcorner">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#updateModal{{i}}">
                    <span aria-hidden="true" style="font-size: 20px; color: #337AB7">
                      <i class="fa fa-list-ul"></i>
                    </span>
                  </button>
                </div>
              {{/if}}
              <div class="col">
                <a href="song/{{id}}">
                <h4>
                  {{name}}
                </h4>
                <p>from {{artist}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        {{else}}
          <h3>No songs found :(</h3>
        {{/each}}
      </div>
    </div>
    <!-- Modal Update Playlist -->
    <div class="modal fade" id="updatePlaylistModal" tabindex="-1" role="dialog" aria-labelledby="updatePlaylistModalLabel" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="post" action="/playlist/update/{{playlist.id}}">
            <div class="modal-header">
              <h1 class="modal-title" id="updatePlaylistModalLabel">Update playlist</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body form-container">
              <label for="playlist_name">Name</label>
              <input type="text" placeholder="{{playlist.name}}" name="playlist_name" >

              <label for="description">Description</label>
              <input type="text" placeholder="{{playlist.description}}" name="description">

              <label for="public">Public</label>
              {{#ifEquals playlist.public "true"}}
                <input type="checkbox" name="public" checked>
              {{else}}
                <input type="checkbox" name="public">
              {{/ifEquals}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal Add Song -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLaber" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="post" action="/song/add?playlist_id={{playlist.id}}">
            <div class="modal-header">
              <h1 class="modal-title" id="addModalLaber">Add Song</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body form-container">
              <label for="song_name">Name</label>
              <input type="text" placeholder="Enter song name" name="song_name" required>
              <label for="artist">Artist</label>
              <input type="text" placeholder="Enter Artist name" name="artist" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{#each songs as |item i|}}
    <!-- Modal update song -->
    <div class="modal fade" id="updateModal{{i}}" tabindex="-1" role="dialog" aria-labelledby="updateModalLaber" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="post" action="/song/update/{{id}}">
            <div class="modal-header">
              <h1 class="modal-title" id="updateModalLaber">Update {{name}}</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body form-container">
              <label for="song_name">Name</label>
              <input type="text" placeholder="{{name}}" name="song_name">
              <label for="artist">Artist</label>
              <input type="text" placeholder="{{artist}}" name="artist">
            </div>
            <div class="modal-footer">
              <a href="/song/delete/{{id}}"><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button></a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</body>

<style type="text/css">
 .topcorner{
   position:absolute;
   top:0;
   right:0;
   padding: 20px;
  }

  {box-sizing: border-box;}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

</style>