<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WeSound</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/list/users">All users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">{{user.user_name}}</a></li>
        <a href="/logout"><button type="button" class="btn btn-default navbar-btn">Log out</button></a>   
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<body>
  <div class="container col-sm-12 " id="mainform">
    <div style=" margin-top:100px" class=" text-center jumbotron jumbotron-fluid mainbox">
      {{#if err}}
        <div class="alert alert-success col-sm-12">{{err}}</div>
        <div id="signupalert" style="display:none" class="alert alert-danger">
          <p>Error:</p>
          <span></span>
        </div>
      {{/if}}
      <div>
        {{#if resultsArtist}}
        {{!-- Put image of resultArtist.img.value --}}
          <img src="{{resultsArtist.img.value}}"/>
        {{/if}}
        <h1>{{songName}}</h1>
        {{#if resultsArtist}}
          <a href="{{resultsArtist.homepage.value}}">
            <h3>{{resultsArtist.name.value}}</h3>
          </a>
        {{else}}
          <h3>{{artist}}</h3>
        {{/if}}
      </div>
      <div class="">
        {{#if infos }}
          <div class="" style="margin-bottom: 10px;">
            <h4>About the Song</h4>
            <p>acousticness: {{infos.acousticness.value}}</p>
            <p>popularity: {{infos.popularity.value}}</p>
            <p>genre: {{infos.genre.value}}</p>
          </div>
        {{else}}
          {{#if resultsArtist}}
          <h4>About the Artist</h4>
          <div>
            <p>homepage: {{resultsArtist.homepage.value}}</p>
          </div>
          {{else}}
            <h3>No infos found :(</h3>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</body>

<style type="text/css">
 .topcorner{
   position:absolute;
   top:0;
   right:0;
   padding: 20px;
  }

  {box-sizing: border-box;}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

</style>